
.imgarc{
    max-width: 100%;
}

.row:nth-child(4) .col.s4{
    margin-top: 10%;

}

.nodo {
    border-radius: 25px;
    background-color: #004d40;
    height: 100px;
}

.divhide {
    display: none;
    opacity: 0;
}

.showdivtema{
    opacity: 1;
	transition: all linear 0.5s;
}

.showdivtema.ng-hide {
    opacity: 0;
	background-color: transparent;
}

.showdivquien{
    opacity: 1;
	transition: all linear 0.5s;
}

.showdivquien.ng-hide {
    opacity: 0;
	background-color: transparent;
}

.showdivque{
    opacity: 1;
	transition: all linear 0.5s;
}

.showdivque.ng-hide {
    opacity: 0;
	background-color: transparent;
}

.showdivcuando{
    opacity: 1;
	transition: all linear 0.5s;
}

.showdivcuando.ng-hide {
    opacity: 0;
	background-color: transparent;
}

.showdivdonde{
    opacity: 1;
	transition: all linear 0.5s;
}

.showdivdonde.ng-hide {
    opacity: 0;
	background-color: transparent;
}

.showdivmapamental{
    opacity: 1;
	transition: all linear 0.5s;
}

.showdivmapamental.ng-hide {
    opacity: 0;
	background-color: transparent;
}

.showdivpregunta{
    opacity: 1;
	transition: all linear 0.5s;
}

.showdivpregunta.ng-hide {
    opacity: 0;
	background-color: transparent;
}

.nodofuentea{
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-style: italic;
}

.nodofuenteb{
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}

