<!DOCTYPE html>
<html lang="es" ng-app="busquedaApp">
    <title>Búsqueda</title>

    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen, projection" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="app.js"></script>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">

<body ng-controller="BusquedaController">
    
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Biblioteca UAO</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#"></a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <!-- <h1 class="header center orange-text">¡Buscar!</h1> -->
          <div class="row center">
            <h5 class="header col s12 light">Topic narrowing</h5>
          </div>
        </div>
    </div>
    
    <div class="container">
        <div class="divider"></div>
        <div class="row">
            <div class="col s12">
            </div>
            <div class="col s12 m1 l1"><p></p></div>
            <div class="col s12 m10 l10">
                  <!-- TEMA -->  
                  <div class="row">
                      <div class="card-panel red lighten-2">
                          <span class="white-text">¿Qué le interesa en la investigación para su proyecto? Escriba el tema general:
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="que" type="text" class="validate" ng-model="tema">
                          <label for="tema">Tema</label>
                      </div>
                  </div> <!-- div row TEMA-->

                  <!-- QUIEN -->  
                  <div class="row">
                      <div class="card-panel orange darken-2">
                          <span class="white-text">Preguntate ¿a quién impacta el tema? ¿Qué población?..Personas, animales, el ambiente?:
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="que" type="text" class="validate" ng-model="quien">
                          <label for="tema">¿Quién?</label>
                      </div>
                  </div> <!-- div row QUIEN -->

                  <!-- QUE -->  
                  <div class="row">
                      <div class="card-panel teal">
                          <span class="white-text">¿Qué aspecto del tema estás interesado? ¿las causas? Los efectos o implicaciones? ¿Las soluciones?:
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="que" type="text" class="validate" ng-model="que">
                          <label for="que">¿Qué?</label>
                      </div>
                  </div> <!-- div row QUE -->
                
                  <!-- CUANDO -->
                  <div class="row">
                      <div class="card-panel green">
                          <span class="white-text">¿Preguntate cuándo? ¿En la actualidad? ¿En el pasado? ¿Relacionado a un evento específico? o ¿En el futuro? :
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="cuando" type="text" class="validate" ng-model="cuando">
                          <label for="cuando">¿Cuándo?</label>
                      </div>
                  </div> <!-- div row CUANDO --> 

                  <!-- CUANDO -->
                  <div class="row">
                      <div class="card-panel blue darken-4">
                          <span class="white-text">Preguntate ¿En dónde? Paises, regiones, estados, lugares (espacios de trabajo, escuelas, virtualmente) :
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="donde" type="text" class="validate" ng-model="donde">
                          <label for="donde">¿Donde?</label>
                      </div>
                  </div> <!-- div row donde -->
                  <div class="divider"></div>
                <!--
                <div class="collection">
                    <a href="#!" class="collection-item">Tema:{{tema}}<span class="badge">1</span></a>
                    <a href="#!" class="collection-item">¿Quién?:{{quien}}<span class="badge">1</span></a>
                    <a href="#!" class="collection-item">¿Qué?:{{que}}<span class="badge">1</span></a>
                    <a href="#!" class="collection-item">¿Cuándo?:{{cuando}}<span class="badge">1</span></a>
                    <a href="#!" class="collection-item">¿Dónde?:{{donde}}<span class="badge">1</span
                </div> -->
                
                <div class="row">
                    Tu respuestas son: {{tema}} {{quien}} {{que}} {{cuando}} {{donde}}
                </div>
                
                  <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="email" type="email" class="validate">
                          <label for="email" data-error="wrong" data-success="right">¿Tu formulación?</label>
                        </div>
                      </div>
                    </form>
                  </div>
                
                
                <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>buscar</a>
            </div> <!-- div col s12 m10 l10 -->
                        
            <div class="col s12 m1 l1"><p></p></div>
        </div> <!-- div row -->
    </div> <!-- div container -->
    
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    
</body>
</html>