<!DOCTYPE html>
<html lang="es" ng-app="busquedaApp">
    <title>Búsqueda</title>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen, projection" />
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">

<body ng-controller="BusquedaController">

    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Biblioteca UAO</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#"></a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <!-- <h1 class="header center orange-text">¡Buscar!</h1> -->
          <div class="row center">
            <h5 class="header col s12 light">Topic narrowing</h5>
          </div>
        </div>
    </div>
    
    <div class="container">
        <div class="divider"></div>
        <div class="row">
            <div class="col s12">
            </div>
            <div class="col s12 m1 l1"><p></p></div>
            <div class="col s12 m10 l10">
                  <!-- TEMA -->  
                  <div id="divtema" class="row">
                      <div class="card-panel red lighten-2">
                          <span class="white-text">¿Qué le interesa en la investigación para su proyecto? Escriba el tema general:
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="inputema" type="text" class="validate" ng-model="tema" ng-keypress="showQuien($event)" autofocus>
                          <label for="tema">Tema</label>
                      </div>
                  </div> <!-- div row TEMA-->

                  <div id="divquien" class="row showdivquien divhide" ng-show="mostrarQuien">
                      <div class="card-panel orange darken-2">
                          <span class="white-text">Preguntate ¿a quién impacta el tema? ¿Qué población?..Personas, animales, el ambiente?:
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="inputquien" type="text" class="validate" ng-model="quien" ng-keypress="showQue($event)"   show-focus="mostrarQuien">
                          <label for="tema">¿Quién?</label>
                      </div>
                  </div> <!-- div row QUIEN -->
                  
                  <div id="divque" class="row showdivque divhide" ng-show="mostrarQue">
                      <div class="card-panel teal">
                          <span class="white-text">¿Qué aspecto del tema estás interesado? ¿las causas? Los efectos o implicaciones? ¿Las soluciones?:
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="inputque" type="text" autofocus class="validate" ng-model="que" ng-keypress="showCuando($event)" show-focus="mostrarQue">
                          <label for="que">¿Qué?</label>
                      </div>
                  </div> <!-- div row QUE -->
                
                  <div id="divcuando" class="row showdivcuando divhide" ng-show="mostrarCuando">
                      <div class="card-panel green">
                          <span class="white-text">¿Preguntate cuándo? ¿En la actualidad? ¿En el pasado? ¿Relacionado a un evento específico? o ¿En el futuro? :
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="inputcuando" type="text" autofocus class="validate" ng-model="cuando" ng-keypress="showDonde($event)" show-focus="mostrarCuando">
                          <label for="cuando">¿Cuándo?</label>
                      </div>
                  </div> <!-- div row CUANDO -->

                  <div id="divdonde" class="row showdivdonde divhide" ng-show="mostrarDonde">
                      <div class="card-panel blue darken-4">
                          <span class="white-text">Preguntate ¿En dónde? Paises, regiones, estados, lugares (espacios de trabajo, escuelas, virtualmente) :
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="inputdonde" type="text" autofocus class="validate" ng-model="donde" ng-keypress="mostrarMapaMental()" show-focus="mostrarDonde">
                          <label for="donde">¿Donde?</label>
                      </div>
                  </div> <!-- div row donde -->
                  
                <!--
                <div class="divider"></div>
                <div class="collection">
                    <a href="#!" class="collection-item">Tema:{{tema}}<span class="badge">1</span></a>
                    <a href="#!" class="collection-item">¿Quién?:{{quien}}<span class="badge">1</span></a>
                    <a href="#!" class="collection-item">¿Qué?:{{que}}<span class="badge">1</span></a>
                    <a href="#!" class="collection-item">¿Cuándo?:{{cuando}}<span class="badge">1</span></a>
                    <a href="#!" class="collection-item">¿Dónde?:{{donde}}<span class="badge">1</span
                </div> 
                
                <div class="row">
                    Tu respuestas son: {{tema}} {{quien}} {{que}} {{cuando}} {{donde}}
                </div>
                
                
                  <div class="row">
                    <form id="ebscohostCustomSearchBox" class="col s12" id="ebscohostCustomSearchBox" action="" onsubmit="return ebscoHostSearchGo(this);" method="post">
                      <div class="row">
                        <div class="input-field col s6">
                            <!-- Ebsco 
                            <input id="ebscohostwindow" name="ebscohostwindow" type="hidden" value="1" />
                            <input id="ebscohosturl" name="ebscohosturl" type="hidden" value="http://search.ebscohost.com/login.aspx?direct=true&site=eds-live&scope=site&type=0&mode=bool&lang=en" />
                            <input id="ebscohostsearchsrc" name="ebscohostsearchsrc" type="hidden" value="db" />
                            <input id="ebscohostsearchmode" name="ebscohostsearchmode" type="hidden" value="+" />
                            <input id="ebscohostkeywords" name="ebscohostkeywords" type="hidden" value="" />    
                            
                            
                          <input id="ebscohostsearchtext" name="ebscohostsearchtext" placeholder="Placeholder" id="first_name" type="text" class="validate">
                          <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                           <button class="btn waves-effect waves-light" type="submit" value="Search" name="action">Submit<i class="material-icons right">send</i></button>
                        </div>
                        
                        <input type="checkbox" id="chkFullText" name="chkFullText"  />
                        <input type="checkbox" id="chkLibraryCollection" name="chkLibraryCollection"  />  
                        <input type="checkbox" id="chkPeerReviewed" name="chkPeerReviewed"  />
                        <input type="checkbox" id="chkCatalogOnly" name="chkCatalogOnly"  />
                        <input type="checkbox" id="" name="" value="AERO"  />
                          
                        
                    </form>
                  </div>
                -->
            </div> <!-- div col s12 m10 l10 -->
                        
            <div class="col s12 m1 l1"><p></p></div>
        </div> <!-- div row -->
    </div> <!-- div container -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="app.js"></script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!-- EBSCOhost Custom Search Box Begins -->
    <script src="http://support.ebscohost.com/eit/scripts/ebscohostsearch.js" type="text/javascript"></script>

</body>
</html>