<!DOCTYPE html>
<html lang="es" ng-app="busquedaApp">
    <title>Búsqueda</title>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen, projection" />
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">

<body ng-controller="BusquedaController">

    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
        	<a id="logo-container" href="#" class="brand-logo right"><img src="img/uao-logo.png"></a>
			  <ul class="left hide-on-med-and-down">
				<li><a href="#">Centro de Servicios de Información - Biblioteca Universidad Autónoma de Occidente</a></li>
			  </ul>

        </div>
    </nav>
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <!-- <h1 class="header center orange-text">¡Buscar!</h1> -->
          <div class="row center">
            <h5 class="header col s12 light">¡Ahondemos en la investigación!</h5>
          </div>
        </div>
    </div>
    
    <div class="container">
        <div class="divider"></div>
        <div class="row">
            <div class="col s12">
            </div>
            <div class="col s12 m1 l1"><p></p></div>
            <div class="col s12 m10 l10">
                  <!-- TEMA -->  
                  <div id="divtema" class="row showdivquien" ng-show="mostrarTema">
                      <div class="card-panel red lighten-2">
                          <span class="white-text">¿Qué le interesa en la investigación para su proyecto? Escriba el tema general:
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="inputema" type="text" class="validate" ng-model="tema" ng-keypress="showQuien($event)" autofocus>
                          <label for="tema">Tema</label>
                      </div>
                  </div> <!-- div row TEMA-->

                  <div id="divquien" class="row showdivquien divhide" ng-show="mostrarQuien">
                      <div class="card-panel orange darken-2">
                          <span class="white-text">Preguntate ¿a quién impacta el tema? ¿Qué población?..Personas, animales, el ambiente?:
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="inputquien" type="text" class="validate" ng-model="quien" ng-keypress="showQue($event)"   show-focus="mostrarQuien">
                          <label for="tema">¿Quién?</label>
                      </div>
                  </div> <!-- div row QUIEN -->
                  
                  <div id="divque" class="row showdivque divhide" ng-show="mostrarQue">
                      <div class="card-panel teal">
                          <span class="white-text">¿Qué aspecto del tema estás interesado? ¿las causas? Los efectos o implicaciones? ¿Las soluciones?:
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="inputque" type="text" autofocus class="validate" ng-model="que" ng-keypress="showCuando($event)" show-focus="mostrarQue">
                          <label for="que">¿Qué?</label>
                      </div>
                  </div> <!-- div row QUE -->
                
                  <div id="divcuando" class="row showdivcuando divhide" ng-show="mostrarCuando">
                      <div class="card-panel green">
                          <span class="white-text">¿Preguntate cuándo? ¿En la actualidad? ¿En el pasado? ¿Relacionado a un evento específico? o ¿En el futuro? :
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="inputcuando" type="text" autofocus class="validate" ng-model="cuando" ng-keypress="showDonde($event)" show-focus="mostrarCuando">
                          <label for="cuando">¿Cuándo?</label>
                      </div>
                  </div> <!-- div row CUANDO -->

                  <div id="divdonde" class="row showdivdonde divhide" ng-show="mostrarDonde">
                      <div class="card-panel blue darken-4">
                          <span class="white-text">Preguntate ¿En dónde? Paises, regiones, estados, lugares (espacios de trabajo, escuelas, virtualmente) :
                          </span>
                      </div>
                      <div class="input-field col s12">
                          <input id="inputdonde" type="text" autofocus class="validate" ng-model="donde" ng-keypress="showMapaMental($event)" show-focus="mostrarDonde">
                          <label for="donde">¿Donde?</label>
                      </div>
                  </div> <!-- div row donde -->
                
                  <div id="divmapamental" class="row showdivmapamental divhide" ng-show="mostrarMapaMental">
                      <div class="card-panel green darken-4">
                          <span class="white-text">Este mapa mental puede ayudarte a formular la pregunta de investigación:</span>
                      </div>

                      <div class="row">
                          <div class="col s4 z-depth-4 nodo">
                              <p class="nodofuentea">Quién:</p>
                              <p class="nodofuenteb">{{ quien }}</p>
                          </div>
                          <div class="col s2"><img class="imgarc" src="img/arc.svg"/></div>
                          <div class="col s2"><img class="imgarc" src="img/arc2.svg"/></div>
                          <div class="col s4 z-depth-4 nodo">
                              <p class="nodofuentea">Qué:</p>
                              <p class="nodofuenteb">{{ que }}</p>
                          </div>
                      </div>

                      <div class="row">  
                          <div class="col s4"></div>
                          <div class="col s4 z-depth-4 nodo">
                              <p class="nodofuentea">Tema:</p>
                              <p class="nodofuenteb">{{ tema }}</p>                         
                          </div>
                          <div class="col s4"></div>
                      </div>  

                      <div class="row">  
                          <div class="col s4 z-depth-4 nodo">
                              <p class="nodofuentea">Donde:</p>
                              <p class="nodofuenteb">{{ donde }}</p>
                          </div>
                          <div class="col s2"><img class="imgarc" src="img/arc3.svg"/></div>
                          <div class="col s2"><img class="imgarc" src="img/arc4.svg"/></div>
                          <div class="col s4 z-depth-4 nodo">
                             <p class="nodofuentea">Cuándo:</p>
                             <p class="nodofuenteb">{{ cuando }}</p>
                          </div>
                      </div>  
                  </div> <!-- div row mapa mental -->
				  
				<div id="divpregunta" class="row showdivpregunta divhide" ng-show="mostrarMapaMental">
					  <div class="card-panel deep-orange accent-4">
						  <span class="white-text">Crea tu pregunta de investigación en base a los elementos del mapa mental!  Por ejemplo: ¿Cómo el cambio climático ha alterado las técnicas de siembra en Colombia en los últimos 10 años?</span>
					  </div>
					  <form id="ebscohostCustomSearchBox" id="ebscohostCustomSearchBox" action="" onsubmit="return ebscoHostSearchGo(this);" method="post">
                            <input id="ebscohostwindow" name="ebscohostwindow" type="hidden" value="1" />
                            <input id="ebscohosturl" name="ebscohosturl" type="hidden" value="http://ezproxy.uao.edu.co:2048/login?url=http://search.ebscohost.com/login.aspx?direct=true&site=eds-live&scope=site&type=0&mode=bool&lang=en" />
                            <input id="ebscohostsearchsrc" name="ebscohostsearchsrc" type="hidden" value="db" />
                            <input id="ebscohostsearchmode" name="ebscohostsearchmode" type="hidden" value="+" />
                            <input id="ebscohostkeywords" name="ebscohostkeywords" type="hidden" value="" />    
						  <div class="input-field col s12">
							  <input id="ebscohostsearchtext" id="first_name" name="ebscohostsearchtext" type="text" autofocus class="validate" ng-model="pregunta" ng-keypress="buscarEbsco($event)" show-focus="mostrarPregunta">
							  <div class="input-field col s6">
								   <button class="btn waves-effect waves-light" type="submit" value="Search" name="action">Buscar!<i class="material-icons right">send</i></button>							  </div>
							  <label for="pregunta">Pregunta de investigación</label>
						  </div>
					  </form>
				</div> <!-- div row pregunta -->
            </div> <!-- div col s12 m10 l10 -->
            <div class="col s12 m1 l1"><p></p></div>
        </div> <!-- div row -->
    </div> <!-- div container -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="app.js"></script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!-- EBSCOhost Custom Search Box Begins -->
    <script src="http://support.ebscohost.com/eit/scripts/ebscohostsearch.js" type="text/javascript"></script>
</body>
</html>